# Python cache and environment files
__pycache__/
*.pyc
.env/

# Virtual environments for each service
customerservice_env/
inventoryservice_env/
orderservice_env/
pricingservice_env/
notificationservice_env/