customerservice_env/
.env/
__pycache__/
*.pyc

inventoryservice_env/
.env/
__pycache__/
*.pyc

pricingservice_env/
.env/
__pycache__/
*.pyc

orderservice_env/
.env/
__pycache__/
*.pyc
notificationservice_env/
.env/
__pycache__/
*.pyc

